Environment/__pycache__/env_class.cpython-311.pyc
Environment/__pycache__/tumors.cpython-311.pyc
scratch.py
Environment/__pycache__/geometry.cpython-311.pyc
miniconda.sh
Environment/__pycache__/env_class.cpython-310.pyc
Environment/__pycache__/geometry.cpython-310.pyc
Environment/__pycache__/tumors.cpython-310.pyc
Physics/__pycache__/equations.cpython-310.pyc
Environment/__pycache__/env_class.cpython-38.pyc
Environment/__pycache__/geometry.cpython-38.pyc
Environment/__pycache__/tumors.cpython-38.pyc
Physics/__pycache__/calculate_pressure.cpython-311.pyc
Physics/__pycache__/equations.cpython-38.pyc
Physics/__pycache__/equations.cpython-311.pyc
Physics/__pycache__/calculate_conc.cpython-311.pyc
Util/__pycache__/evaluate_function.cpython-311.pyc
